
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --primary:#2C2C2C;
    --secondary:#5CCF5C;
    --text:#F5F5F5;
    --accent:#FFC107;
    --font:"Expletus Sans";
}
/* Navigation */

body{
    /* background: url("../About.png"); */
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    height: auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-family: var(--font);
    display: flex;
}
.Background1{
    background: url("../About.png");
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-bottom: 100px;
    height: auto;
}
[class*="nav-link"]{
    color: var(--accent);
    font-family: var(--font);
    font-size: 20px;
}
[class*="nav-link"]:hover{
    color: var(--text);
}
.fa-bars:hover{
    color: var(--text);
}

.title{
    font-size: 35px;
    font-family: var(--font);
    color: var(--accent);
    text-decoration: none;
    font-family: var(--font);
    font-weight: bold;
}
.navbar{
    margin-bottom: clamp(70px, 2vw, 150px);
    
}
.nav-item:nth-child(3) .nav-link { 
    background-color: rgba(255, 255, 255, 0.1); 
    border-radius: 20px;
}
/* Contents */

.section{
    width: 90%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    max-width: 1000px;
    margin-inline: auto;
}


.ContentSection h6{
    width: 90%;
    display: block;
    margin-inline: auto;
    color: var(--text);
    text-align: center;
    font-size: clamp(30px, 2vw, 40px);
    
}
 .ImageSection{
    width: 25%;
 }
 .ContentSection{
    width: 75%;
    display: flex;
    justify-content: center;
    align-items: center; 
 }
.image-container{
    position: relative;
    margin-inline: auto;
    display: block;
    width: 250px;
    height: 250px;
    margin-top: 20px;
}

.image{
    display: block;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    transition: opacity 0.5s ease-in-out; /* Add transition for opacity */
    background-color: var(--text);
    border: 3px solid var(--accent);
}

.hidden {
    opacity: 0; /* Initially hidden by setting opacity to 0 */
}

.ImageSection h5{
    color: var(--secondary);
    font-size: clamp(25px, 2vw, 30px);
    text-align: center;

    margin-top: 10px;
}



.Background2{
    background-color: var(--primary);
    padding-top: 50px;
    padding-bottom: 50px;
}
h1{
    color: var(--secondary);
    font-size: clamp(40px, 2vw, 50px);
    word-wrap: break-word;
    font-weight: bold;
    
}
.SkillsContainer {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
    width: 100%;
    margin-inline: auto;
    
    
}

.SkillsContainer li {
    flex: 1 1 30%; /* Adjust the width of each column (3 columns = 30%) */
    padding: 0.5rem;
    color: var(--text);
    font-size: clamp(40px, 2vw, 50px);
    box-sizing: border-box;
    font-family: var(--font);
    text-align:center;
}

.Background3{
    background-color: #1f1f1f;
    padding-top: 50px;
    padding-bottom: 50px;
}
.Certificate{
    max-width: 400px;
    max-height: 284px;
    width: 90%;
    cursor: pointer;
    transition: 0.3s ease;
}
.Certificate:hover{
    scale: 110%;
}
.CertificateContainer{
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 20px;
    flex-wrap: wrap;
    
}

footer{
    width: 100%;
    background-color:#2F3A2F;
    position: relative;
    bottom: 0px;
    margin-top: auto;
    overflow: hidden;
}

.FooterContainer{
    width: 50%;
    padding: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.FooterContainer a{
    color: var(--text);
    text-decoration: none;
    font-size: 16px;
    transition: 0.3s ease;
}
.LinkContainer a:hover{
    color: var(--secondary);
}
.LinkContainer{
    display: flex;
    flex-direction: column;
}
.FooterContainer p{
    font-size: 16px;
    display: block;
    color: var(--text);
    width: 100%;
    text-align: center;
    overflow: hidden;
}
.FooterContainer ul li{
    display: block;
}
.FooterIcons a i{
    font-size: 25px;
    margin-inline: 5px;
}
.section:nth-child(3){
    flex-direction: column;
}

/* SCROLL ANIMATION  */
.hide{
    transform: translateY(200px);
    transition: 0.5s ease;
    opacity: 0;
}
.hide.show{
    transform: translateY(0px);
    opacity: 1;
}
@media only screen and (max-width: 900px) {
    
    .ImageSection{
        width: 100%;
    }
    .ContentSection{
        width: 100%;
    }
    
  }
  @media only screen and (max-width: 888px) {
    
    .Certificate{
        margin-bottom: 10px;
    }
    
  }

  @media only screen and (max-width: 579px) {
    
    .SkillsContainer li{
        flex: 1 1 45%;
    }
    
  }