
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --primary:#2c2c2c;
    --secondary:#5CCF5C;
    --text:#F5F5F5;
    --accent:#FFC107;
    --font:"Expletus Sans";
}
/* Navigation */

body{
    background-color: var(--primary);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: var(--text);
}
[class*="nav-link"]{
    color: var(--accent);
    font-family: var(--font);
    font-size: 20px;
    
}
[class*="nav-link"]:hover{
    color: var(--text);
}
.fa-bars:hover{
    color: var(--text);
}

.title{
    font-size: 35px;
    font-family: var(--font);
    color: var(--accent);
    text-decoration: none;
    font-family: var(--font);
    font-weight: bold;
}
.nav-item:nth-child(2) .nav-link { 
    background-color: rgba(255, 255, 255, 0.1); 
    border-radius: 20px;
}
.navbar{
    
}
/* Contents */
#ProjectTag{
    font-size: clamp(50px, 2vh, 60px);
    color: var(--accent);
    font-family: var(--font);
    font-weight: bold;
    margin-bottom: 60px;
}
.Project1{
    width: 100%;
    background-color: var(--primary);
    margin-top: clamp(50px, 2vh, 150px);
    padding-bottom: 25px;
}
.Project2{
    width: 100%;
    background-color: #222222;
    margin-top: clamp(50px, 2vh, 150px);
    padding-top: 80px;
    padding-bottom: 80px;
}
.Project3{
    width: 100%;
    background-color: #181818;
    padding-top: 80px;
    padding-bottom: 80px;
}
.container-fluid{
    width: 90%;
    max-width: 1300px;
}

.container-fluid:nth-child(0){
    background-color: black;
}

.ProjectName{
    font-size: clamp(45px, 2vh, 60px);
    color: var(--secondary);
    font-family: var(--font);
    font-weight: bold;
}
.ProjectDescription{
    font-size:clamp(30px, 2vh, 50px); 
    color: var(--text);
    font-family: var(--font);
    font-weight: 100;
}
.DevToolsHeading{
    font-size:clamp(20px, 2vh, 35px); 
    color: var(--text);
    font-family: var(--font);
    font-weight: bold;
}
.DevToolsList{
    font-size:clamp(20px, 2vh, 35px); 
    color: var(--text);
    font-family: var(--font);
}
.ProjectLink{
    width: 200px;
    display: block;
    margin-inline: auto;
    border: 3px solid var(--accent);
    background: none;
    height: 40px;
    font-family: var(--font);
    font-weight: bold;
    color: var(--accent);
    transition: 0.3s ease;
    border-radius: 20px;
}
.ProjectLink:hover{
    scale: 95%;
    background-color: var(--accent);
    color: var(--primary);

}
.ProjFrame{
    width: 100%;
    min-width: 280px;
}

/* SCROLL ANIMATION  */
.hide{
    transform: translateY(200px);
    transition: 0.5s ease;
    opacity: 0;
}
.hide.show{
    transform: translateY(0px);
    opacity: 1;
}
/* footer */

.fa-brands:hover{
    scale: 110%;
}

footer{
    width: 100%;
    background-color:#2F3A2F;
    position: relative;
    bottom: 0px;
    margin-top: auto;
    overflow: hidden;
}

.FooterContainer{
    width: 50%;
    padding: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    
}

.FooterContainer a{
    color: var(--text);
    text-decoration: none;
    font-size: 16px;
    transition: 0.3s ease;
}
.LinkContainer{
    display: flex;
    flex-direction: column;
}
.LinkContainer a:hover{
    color: var(--secondary);
}
.FooterContainer p{
    font-size: 16px;
    display: block;
    color: var(--text);
    width: 100%;
    word-wrap: break-word;
    text-align: center;
}
.FooterContainer ul li{
    display: block;
}
.FooterIcons a i{
    font-size: 25px;
    margin-inline: 5px;
    color: var(--white);
}

@media only screen and (max-width: 700px) {
    
    .contactContainer{
        width: 100%;
        margin-bottom: 10px;
    }

    h1{
        font-size: clamp(50px, 2vh, 70px)
    }
    .ProjFrame{
        margin-top: 30px;
    }
    
  }